<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>8).gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8)</string>
				<string>8-)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>;).gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>;p.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;p</string>
				<string>;P</string>
			</array>
			<key>Name</key>
			<string>Tongue Wink</string>
		</dict>
		<key>=$.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:[</string>
				<string>:-$</string>
				<string>:$</string>
				<string>=$</string>
				<string>:-[</string>
				<string>=[</string>
			</array>
			<key>Name</key>
			<string>Blush</string>
		</dict>
		<key>=(.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:(</string>
				<string>=(</string>
				<string>:-(</string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>=-.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-</string>
			</array>
			<key>Name</key>
			<string>Cap</string>
		</dict>
		<key>=D.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:D</string>
				<string>:-D</string>
				<string>=D</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>O_o.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O_o</string>
				<string>O.o</string>
				<string>o_O</string>
				<string>o.O</string>
			</array>
			<key>Name</key>
			<string>O_o</string>
		</dict>
		<key>T_T.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>T_T</string>
				<string>T.T</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>XP.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>XP</string>
				<string>xp</string>
			</array>
			<key>Name</key>
			<string>XP</string>
		</dict>
		<key>^^;.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^^;</string>
			</array>
			<key>Name</key>
			<string>Oops</string>
		</dict>
		<key>angry.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>D:&lt;</string>
				<string>&gt;:(</string>
				<string>&gt;.&lt;</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>blank.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:|</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>Blank</string>
		</dict>
		<key>bow.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:bow:</string>
			</array>
			<key>Name</key>
			<string>Bow</string>
		</dict>
		<key>bucktooth.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:B</string>
				<string>:-B</string>
			</array>
			<key>Name</key>
			<string>Bucktooth</string>
		</dict>
		<key>confused.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:S</string>
				<string>:-S</string>
				<string>:?</string>
				<string>:-?</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>dumb.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:dumb:</string>
			</array>
			<key>Name</key>
			<string>Dumb</string>
		</dict>
		<key>evillaugh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:evillaugh:</string>
				<string>:evil:</string>
			</array>
			<key>Name</key>
			<string>Evil Laugh</string>
		</dict>
		<key>fart.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fart:</string>
			</array>
			<key>Name</key>
			<string>Fart</string>
		</dict>
		<key>fear.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fear:</string>
			</array>
			<key>Name</key>
			<string>Fear</string>
		</dict>
		<key>fella.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fella:</string>
			</array>
			<key>Name</key>
			<string>Fella</string>
		</dict>
		<key>giggle.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:giggle:</string>
			</array>
			<key>Name</key>
			<string>Giggle</string>
		</dict>
		<key>how-stupid-are-you.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:How-stupid-are-you:</string>
			</array>
			<key>Name</key>
			<string>How Stupid Are You?</string>
		</dict>
		<key>huh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:huh:</string>
			</array>
			<key>Name</key>
			<string>Huh</string>
		</dict>
		<key>i-can't-see-it-[mature-cont.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:i-can’t-see-it(mature):</string>
			</array>
			<key>Name</key>
			<string>I Can’t See It (Mature)</string>
		</dict>
		<key>ill.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ill:</string>
				<string>:sick:</string>
			</array>
			<key>Name</key>
			<string>Ill</string>
		</dict>
		<key>in-love.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:love:</string>
				<string>:hearts:</string>
			</array>
			<key>Name</key>
			<string>In Love</string>
		</dict>
		<key>innocent.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>0:)</string>
				<string>0:-)</string>
				<string>O:)</string>
				<string>O:-)</string>
				<string>o:)</string>
				<string>o:-)</string>
			</array>
			<key>Name</key>
			<string>Innocent</string>
		</dict>
		<key>jaw-drop.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:jawdrop:</string>
				<string>:omg:</string>
			</array>
			<key>Name</key>
			<string>Jaw Drop</string>
		</dict>
		<key>on-phone.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:on-phone:</string>
				<string>:phone:</string>
			</array>
			<key>Name</key>
			<string>On The Phone</string>
		</dict>
		<key>paranoid.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:paranoid:</string>
				<string>¬¬</string>
				<string>¬_¬</string>
			</array>
			<key>Name</key>
			<string>Paranoid</string>
		</dict>
		<key>plotting.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:plot:</string>
				<string>:plotting:</string>
			</array>
			<key>Name</key>
			<string>Plotting</string>
		</dict>
		<key>poke.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:poke:</string>
			</array>
			<key>Name</key>
			<string>Poke</string>
		</dict>
		<key>puppy-eyes-2.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:puppy-eyes:</string>
				<string>:puppyeyes:</string>
			</array>
			<key>Name</key>
			<string>Puppy Eyes</string>
		</dict>
		<key>puppy-eyes.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:please-eyes:</string>
				<string>:pleaseeyes:</string>
			</array>
			<key>Name</key>
			<string>Please Eyes</string>
		</dict>
		<key>r-u-there.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:r-u-there:</string>
				<string>:u-there:</string>
			</array>
			<key>Name</key>
			<string>Are You There?</string>
		</dict>
		<key>rolling.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:rolling:</string>
				<string>:roll:</string>
			</array>
			<key>Name</key>
			<string>Roll Eyes</string>
		</dict>
		<key>salute.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:salute:</string>
			</array>
			<key>Name</key>
			<string>Salute</string>
		</dict>
		<key>shakefist.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:shakefist:</string>
				<string>:fist:</string>
			</array>
			<key>Name</key>
			<string>Shake Fist</string>
		</dict>
		<key>shit.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:shit:</string>
			</array>
			<key>Name</key>
			<string>Shit</string>
		</dict>
		<key>shrug.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:shrug:</string>
			</array>
			<key>Name</key>
			<string>Shrug</string>
		</dict>
		<key>singing.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:singing:</string>
				<string>:sing:</string>
			</array>
			<key>Name</key>
			<string>Singing</string>
		</dict>
		<key>snooty.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:snooty:</string>
				<string>:uppity:</string>
			</array>
			<key>Name</key>
			<string>Snooty</string>
		</dict>
		<key>speechless.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:speechless:</string>
				<string>:...:</string>
			</array>
			<key>Name</key>
			<string>Speachless</string>
		</dict>
		<key>surrender.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:surrender:</string>
				<string>:give-up:</string>
			</array>
			<key>Name</key>
			<string>Surrender</string>
		</dict>
		<key>they-will-never-understand.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:they-will-never-understand:</string>
				<string>:never-understand:</string>
			</array>
			<key>Name</key>
			<string>They Will Never Understand</string>
		</dict>
		<key>threaten.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:threaten:</string>
				<string>:threat:</string>
			</array>
			<key>Name</key>
			<string>Threaten</string>
		</dict>
		<key>tomatoe.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:tomato:</string>
			</array>
			<key>Name</key>
			<string>Tomato</string>
		</dict>
		<key>u-rock.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:u-rock:</string>
				<string>:headbang:</string>
			</array>
			<key>Name</key>
			<string>You Rock!</string>
		</dict>
		<key>watermelon.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:watermelon:</string>
			</array>
			<key>Name</key>
			<string>Watermelon</string>
		</dict>
		<key>wow!.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:wow:</string>
				<string>:omfg:</string>
			</array>
			<key>Name</key>
			<string>Wow!</string>
		</dict>
		<key>wtf.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:wtf:</string>
			</array>
			<key>Name</key>
			<string>WTF</string>
		</dict>
		<key>x_x.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:X_X:</string>
				<string>:X.X:</string>
				<string>:dead:</string>
			</array>
			<key>Name</key>
			<string>Dead</string>
		</dict>
		<key>yawning-.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:yawning:</string>
				<string>:yawn:</string>
			</array>
			<key>Name</key>
			<string>Yawning</string>
		</dict>
		<key>yay.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:yay:</string>
				<string>:yey:</string>
			</array>
			<key>Name</key>
			<string>Yay!</string>
		</dict>
		<key>zzz.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:zzz:</string>
				<string>:sleep:</string>
			</array>
			<key>Name</key>
			<string>Sleep</string>
		</dict>
	</dict>
</dict>
</plist>
