#top_left {display: none;}
#top_right {display: none;}
#bottom_right {display: none;}
#bottom_left {display: none;}

#topIMG {display: none;}
#rightIMG {display: none;}
#bottomIMG {display: none;}
#leftIMG {display: none;}

#menu2 {display: none;}

.service {display: none;}