body {margin: 10px 15px 10px 15px;}

p {margin: 0px;overflow: hidden;}

.spacer {clear: both;}

.nameheader {
	font-family: "Helvetica" sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	opacity: 1.0;
	#border: 1px solid #999999;
	}
.name {
	#border: 1px solid #999999;
	}
.protocol {
	#border: 1px solid #999999;
	}

.message {
	font-size: 10px;
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.9);
	}
.messagetime {
	font-family: "Helvetica" sans-serif;
	font-size: 9px;
	color: #999999;
	float: right;
	padding-top: 2px;
	vertical-align: baseline;
	}
.messagetime.consecutive {
	padding-left: 11px;
	}

.status {
	font-family: "Helvetica" sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: rgba(255,255,255,1.0);
	#border: 1px solid #999999;
	}
.statusmessage {
	text-align: left;
	#border: 1px solid #999999;
	}
.statustime {
	text-align: right;
	#border: 1px solid #999999;
	}

.nextmessageline {
	border-bottom: 1px dotted #CCCCCC; 
	height: 1px; 
	margin-top: 2px;
	margin-bottom: 2px;
	}

#chat {
	overflow: hidden;
	margin-bottom: 10px;
	}

#header {
	display: block;
	height: 69px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	margin-left: -15px;
	}
#headerFill {
	background: url("../images/header/header_fill.png") repeat-x top;
	#position: relative;
	width: "100%";
	height: 59px;
	margin-left: 82px;
	margin-right: 82px;
	}
#headerLeft {
	background: url("../images/header/header_left.png") no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 82px;
	height: 59px;
	float: left;
	#display: block;
	}
#headerRight {
	background: url("../images/header/header_right.png") no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 82px;
	height: 59px;
	float: right;
	#display: block;
	}
#headerImage {
	background: url("../images/header/header_sender_bg.png") no-repeat;
	position: relative;
	#-webkit-transform:rotate(14deg);
	width: 46px;
	height: 46px;
	margin-left: 14px;
	margin-top: 4px;
	padding: 3px 5px 7px 6px;
	float: left;
	z-index: 200;
	}
#headerChatWho {
	color: #787878;
	font: 10px "HelveticaNeue-Light", "Helvetica Neue", Helvetica;
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.9);
	z-index: 200;
	}
#headerChatWho h2 {
	color: #676767;
	font-size: 24px;
	font-weight: 100;
	margin-top: -2px;
	padding: 0;
	}
#headerChatStarted {
	color: #787878;
	font: 10px "HelveticaNeue-Light", "Helvetica Neue", Helvetica;
	position: absolute;
	float: right;
	right: 0px;
	margin-right: 28px;
	margin-top: 35px;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.9);
	z-index: 200;
	}
.togglebutton {
	visibility: visible;
	padding: 0px;
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	}


