@import url("message_common.css");

.out.content .nameheader {
	background: url("../images/sender/sender_fill.png") top repeat-x;
	color: rgba(78,78,78,1);
	}
.out.context .nameheader {
	background: url("../images/sender/sender_context_fill.png") top repeat-x;
	color: rgba(78,78,78,0.8);
	}
.in.content .nameheader {
	background: url("../images/sender/sender_mono_fill.png") top repeat-x;
	color: rgba(248,248,248,1);
	}
.in.context .nameheader {
	background: url("../images/sender/sender_mono_fill_history.png") top repeat-x;
	color: rgba(248,248,248,0.9);
	}

.out.content .name {
	background: url("../images/sender/flipped/sender_right.png") right top no-repeat;
	}
.out.context .name {
	background: url("../images/sender/flipped/sender_context_right.png") right top no-repeat;
	}
.in.content .name {
	background: url("../images/sender/standard/mono/sender_left.png") left top no-repeat;
	}
.in.context .name {
	background: url("../images/sender/standard/mono/sender_left_history.png") left top no-repeat;
	}

.out.content .protocol {
	background: url("../images/sender/flipped/gray/sender_left.png") left top no-repeat;
	color: rgba(78,78,78,0.8);
	}
.out.context .protocol {
	background: url("../images/sender/flipped/gray/sender_left_history.png") left top no-repeat;
	color: rgba(78,78,78,0.6);
	}
.in.content .protocol {
	background: url("../images/sender/standard/mono/sender_right.png") right top no-repeat;
	color: rgba(248,248,248,0.9);
	}
.in.context .protocol {
	background: url("../images/sender/standard/mono/sender_right_history.png") right top no-repeat;
	color: rgba(248,248,248,0.8);
	}

.status {
	background: url("../images/status/black/status_fill.png") top repeat-x;
	}
.statusmessage {
	background: url("../images/status/black/status_left.png") left top no-repeat;
	}
.statustime {
	background: url("../images/status/black/status_right.png") right top no-repeat;
	}