<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>anger.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>:-@</string>
				<string>X(</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>victory.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>(H)</string>
				<string>B-)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>cry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string>:'-(</string>
				<string>:((</string>
				<string>:-((</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>what.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string>:-S</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>shame.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
				<string>:-$</string>
				<string>:&quot;&gt;</string>
			</array>
			<key>Name</key>
			<string>Embarassed</string>
		</dict>
		<key>beaten.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
			</array>
			<key>Name</key>
			<string>Faux Pas</string>
		</dict>
		<key>unhappy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>haha.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>nothing.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>O:)</string>
				<string>o:-)</string>
				<string>o:)</string>
				<string>(A)</string>
			</array>
			<key>Name</key>
			<string>Innocent</string>
		</dict>
		<key>red_heart.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>(K)</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>black_heart.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;3</string>
				<string>:heart:</string>
			</array>
			<key>Name</key>
			<string>Heart</string>
		</dict>
		<key>sealed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-x</string>
				<string>:-X</string>
				<string>:-#</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>Lips are Sealed</string>
		</dict>
		<key>big_smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>amazing.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
				<string>=-O</string>
			</array>
			<key>Name</key>
			<string>Surprised</string>
		</dict>
		<key>grimace.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-P</string>
				<string>:-p</string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>bad_smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>super_man.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:super:</string>
			</array>
			<key>Name</key>
			<string>Superhero</string>
		</dict>
	</dict>
</dict>
</plist>
